astroquery ~= 0.4
astropy ~= 7.0
diagrams ~= 0.24
keras ~= 3.9.0
matplotlib ~= 3.9
numpy ~= 2.0
pandas ~= 2.2
psycopg2_binary ~= 2.9
pydot ~= 3.0.4
scikit-learn ~= 1.6
sqlalchemy ~= 2.0
seaborn ~= 0.13