astroquery ~= 0.4
astropy ~= 5.0
diagrams ~= 0.21
keras ~= 2.9.0
matplotlib ~= 3.5
numpy ~= 1.23
pandas ~= 1.4
psycopg2_binary ~= 2.9
pydot ~= 1.4.2
scikit-learn ~= 1.1
sqlalchemy ~= 1.4
seaborn ~= 0.11